&af1aifmnamelist
    blncalculateonthefly = .false.
    blnincludesflighteffects = .true., .true.
    fltemissiontimerange = 0.0, 0.027272727272727275
    fltreceptiontimerange = 0.0, 0.0
    fltretardedtimetolerance = 1e-06
    ndataindatagroup = 0
    nemissiontimes = 256
    ngeometriesperwaypoint = 0
    nreceptiontimes = 512
    strcoordinatesystem = 'GROUND'
    strmetadataidentifier = 'Metadata'
    strmetadatasetting = 'None'
    strresultsdesired = 'Source'
    strtimehistorygroup = 'COMPLETE'
/
