&kinematicsflightpathnamelist
    nframechanges = 4
/
&polynomialframechangenamelist
    flttranslationcoefficient = 0.0, 0.0, 0.0
/
&constantframechangenamelist
    fltrotationangle = 1.5707963267948966
    fltrotationaxis = 0.0, -1.0, 0.0
/
&constantframechangenamelist
    fltrotationangle = 0.0
    fltrotationaxis = 1.0, 0.0, 0.0
/
&polynomialframechangenamelist
    flttranslationcoefficient = 0.0, 0.0, 0.0, 5.0, 0.0, 0.0
/
